* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'montserrat', sans-serif;
}

.app {
	background-image: url('./assets/summer.jpg');
	background-size: cover;
	background-position: bottom;
	transition: 0.4 ease-out;
}

.app.clouds {
	background-image: url('./assets/winter.jpg');
}

.app.clear {
	background-image: url('./assets/summer.jpg');
}

.app.rain {
	background-image: url('./assets/spring.jpg');
}

.app.snow {
	background-image: url('./assets/fall.jpg');
}

main {
	min-height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
	padding: 25px;
}

.search-box {
	width: 100%;
	margin-bottom: 25px;
}

.search-bar {
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 20px;
	font-family: Cambria, sans-serif;
	border-radius: 5px;

	appearance: none;
	background: none;
	border: none;
	outline: none;

	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 9px 5px rgba(0, 0, 0, 0.2);

	color: #000000;
	transition: 0.4s ease;
}

.search-bar:focus {
	background-color: rgba(255, 255, 255, 0.75);
}

.weather-info {
	color: white;
	font-family: Cambria, sans-serif;
	text-align: center;
	text-shadow: 2px 2px rgba(50, 50, 70, 0.5);	
}

.location {
	font-size: 30px;
}

.date {
	font-style: italic;
	font-size: 15px;
	margin-top: 10px;
}

.weather-box {
	margin-top: 80px;
}

.temperature {
	font-size: 75px;
	text-shadow: 2px 2px rgba(50, 50, 70, 0.2);
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.weather {
	font-size: 25px;
	margin-top: 10px;
}

.error-message {
	display: flex;
	font-size: 25px;
	justify-content: center;
}