* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'montserrat', sans-serif;
}

.app {
	background-image: url('./assets/summer.jpg');
	background-size: cover;
	background-position: bottom;
	transition: 0.4 ease-out;
}

.app.winter {
	background-image: url('./assets/winter.jpg');
}

main {
	min-height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
}